---
blog: Carl Koblavie
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

<link rel="stylesheet" href="../../css/style.css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
</style>
</head>
<body>
  <h1><a href='/'>{{blog}}</a></h1>
{% include "components/navitems.njk" %}
  <header>
    <h2>{{ title }}</h2>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
