body {
  padding: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

body h1 a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

section ul li {
  list-style-type: none;
  padding: 5px;
}

section ul li a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li span.date, .post-date {
  color: gray;
  font-size: 14px;
}

ul li span.post-title a {
  color: black;
}

article {
  padding-top: 35px;
}

nav {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 250px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: medium;
}

main {
  line-height: 1.35;
}

@media only screen and (min-width: 780px) {
  body main {
    width: 60%;
  }
}
